<div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col h-full">
  <img
    src="https://loremflickr.com/320/240?random=1"
    class="object-cover h-52 w-full"
    alt=""
  />
  <div class="p-6 flex flex-col flex-grow">
    <span class="block text-slate-400 font-semibold text-sm">
      {{ date }}
    </span>
    <h3
      class="mt-2 font-bold text-lg pb-2 border-b border-slate-300 line-clamp-2"
    >
      <a>
        {{ header }}
      </a>
    </h3>
    <p class="line-clamp-3 mb-4">
      {{ content }}
    </p>
    <a href="#" class="mt-auto text-blue-600 hover:underline">Read More</a>
  </div>
</div>
